# getConfiguredMegaFeature
public net.minecraft.world.level.block.grower.AbstractMegaTreeGrower m_213566_(Lnet/minecraft/util/RandomSource;)Lnet/minecraft/resources/ResourceKey;
public net.minecraft.world.level.block.grower.DarkOakTreeGrower m_213566_(Lnet/minecraft/util/RandomSource;)Lnet/minecraft/resources/ResourceKey;
public net.minecraft.world.level.block.grower.JungleTreeGrower m_213566_(Lnet/minecraft/util/RandomSource;)Lnet/minecraft/resources/ResourceKey;
public net.minecraft.world.level.block.grower.SpruceTreeGrower m_213566_(Lnet/minecraft/util/RandomSource;)Lnet/minecraft/resources/ResourceKey;

public net.minecraft.world.level.block.WaterlilyBlock m_6266_(Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/level/BlockGetter;Lnet/minecraft/core/BlockPos;)Z
public net.minecraft.commands.arguments.selector.EntitySelector m_121144_(Lnet/minecraft/world/phys/Vec3;)Ljava/util/function/Predicate; # getPredicate
public-f net.minecraft.world.item.Item f_41370_ # maxStackSize
